<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title><%-: config.title | cdata %></title>
  <% if (config.subtitle){ %><subtitle><%-: config.subtitle | cdata %></subtitle><% } %>
  <link href="<%- encodeURI(feed_url) %>" rel="self"/>
  <link href="<%- encodeURI(config.url) %>/"/>
  <updated><%= posts.first().updated.toISOString() %></updated>
  <id><%- config.url %>/</id>
  <% if (config.author){ %>
  <author>
    <name><%-: config.author | cdata %></name>
    <% if (config.email){ %><email><%-: config.email | cdata %></email><% } %>
  </author>
  <% } %>
  <generator uri="http://hexo.io/">Hexo</generator>
  <% posts.each(function(post){ %>
  <entry>
    <title><%-: post.title | cdata %></title>
    <link href="<%- encodeURI(post.permalink) %>"/>
    <id><%- post.permalink %></id>
    <published><%= post.date.toISOString() %></published>
    <updated><%= post.updated.toISOString() %></updated>
    <content type="html"><%-: post.content | cdata %></content>
    <summary type="html">
    <% if (post.description){ %><%-: post.description | cdata %>
    <% } else if (post.excerpt){ %><%-: post.excerpt | cdata %>
    <% } else {%><%-: post.content.substring(0, 140) | cdata %><% } %>
    </summary>
    <% [].concat(post.tags.toArray(), post.categories.toArray()).forEach(function(category){ %>
      <category term="<%= category.name %>" scheme="<%- encodeURI(category.permalink) %>"/>
    <% }) %>
  </entry>
  <% }) %>
</feed>